# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# Emacs backup files
*~
\#*\#
doc/_build/doctrees/acknowledgements.doctree
doc/_build/doctrees/bibliography.doctree
doc/_build/doctrees/drawing.doctree
doc/_build/doctrees/embedding.doctree
doc/_build/doctrees/environment.pickle
doc/_build/doctrees/eulerintegrator.doctree
doc/_build/doctrees/file.doctree
doc/_build/doctrees/filtration.doctree
doc/_build/doctrees/glossary.doctree
doc/_build/doctrees/implementation.doctree
doc/_build/doctrees/index.doctree
doc/_build/doctrees/installation.doctree
doc/_build/doctrees/reference.doctree
doc/_build/doctrees/simplicialcomplex.doctree
doc/_build/doctrees/triangularlattice.doctree
doc/_build/doctrees/tutorial.doctree
doc/_build/doctrees/implementation/homology.doctree
doc/_build/doctrees/implementation/simplicialcomplex.doctree
doc/_build/doctrees/tutorial/analysis.doctree
doc/_build/doctrees/tutorial/build-complex.doctree
doc/_build/doctrees/tutorial/filtrations.doctree
doc/_build/doctrees/tutorial/navigating-complex.doctree
doc/_build/doctrees/tutorial/simplex-attributes.doctree
doc/_build/html/.buildinfo
doc/_build/html/acknowledgements.html
doc/_build/html/bibliography.html
doc/_build/html/drawing.html
doc/_build/html/embedding.html
doc/_build/html/eulerintegrator.html
doc/_build/html/file.html
doc/_build/html/filtration.html
doc/_build/html/genindex.html
doc/_build/html/glossary.html
doc/_build/html/implementation.html
doc/_build/html/index.html
doc/_build/html/installation.html
doc/_build/html/objects.inv
doc/_build/html/reference.html
doc/_build/html/search.html
doc/_build/html/searchindex.js
doc/_build/html/simplicialcomplex.html
doc/_build/html/triangularlattice.html
doc/_build/html/tutorial.html
doc/_build/html/.doctrees/acknowledgements.doctree
doc/_build/html/.doctrees/bibliography.doctree
doc/_build/html/.doctrees/drawing.doctree
doc/_build/html/.doctrees/embedding.doctree
doc/_build/html/.doctrees/environment.pickle
doc/_build/html/.doctrees/eulerintegrator.doctree
doc/_build/html/.doctrees/file.doctree
doc/_build/html/.doctrees/filtration.doctree
doc/_build/html/.doctrees/glossary.doctree
doc/_build/html/.doctrees/implementation.doctree
doc/_build/html/.doctrees/index.doctree
doc/_build/html/.doctrees/installation.doctree
doc/_build/html/.doctrees/reference.doctree
doc/_build/html/.doctrees/simplicialcomplex.doctree
doc/_build/html/.doctrees/triangularlattice.doctree
doc/_build/html/.doctrees/tutorial.doctree
doc/_build/html/.doctrees/implementation/homology.doctree
doc/_build/html/.doctrees/implementation/simplicialcomplex.doctree
doc/_build/html/.doctrees/tutorial/analysis.doctree
doc/_build/html/.doctrees/tutorial/build-complex.doctree
doc/_build/html/.doctrees/tutorial/filtrations.doctree
doc/_build/html/.doctrees/tutorial/navigating-complex.doctree
doc/_build/html/.doctrees/tutorial/simplex-attributes.doctree
doc/_build/html/_sources/acknowledgements.rst.txt
doc/_build/html/_sources/bibliography.rst.txt
doc/_build/html/_sources/drawing.rst.txt
doc/_build/html/_sources/embedding.rst.txt
doc/_build/html/_sources/eulerintegrator.rst.txt
doc/_build/html/_sources/file.rst.txt
doc/_build/html/_sources/filtration.rst.txt
doc/_build/html/_sources/glossary.rst.txt
doc/_build/html/_sources/implementation.rst.txt
doc/_build/html/_sources/index.rst.txt
doc/_build/html/_sources/installation.rst.txt
doc/_build/html/_sources/reference.rst.txt
doc/_build/html/_sources/simplicialcomplex.rst.txt
doc/_build/html/_sources/triangularlattice.rst.txt
doc/_build/html/_sources/tutorial.rst.txt
doc/_build/html/_sources/implementation/homology.rst.txt
doc/_build/html/_sources/implementation/simplicialcomplex.rst.txt
doc/_build/html/_sources/tutorial/analysis.rst.txt
doc/_build/html/_sources/tutorial/build-complex.rst.txt
doc/_build/html/_sources/tutorial/filtrations.rst.txt
doc/_build/html/_sources/tutorial/navigating-complex.rst.txt
doc/_build/html/_sources/tutorial/simplex-attributes.rst.txt
doc/_build/html/_static/alabaster.css
doc/_build/html/_static/basic.css
doc/_build/html/_static/custom.css
doc/_build/html/_static/doctools.js
doc/_build/html/_static/documentation_options.js
doc/_build/html/_static/file.png
doc/_build/html/_static/jquery-3.4.1.js
doc/_build/html/_static/jquery.js
doc/_build/html/_static/language_data.js
doc/_build/html/_static/minus.png
doc/_build/html/_static/plus.png
doc/_build/html/_static/pygments.css
doc/_build/html/_static/searchtools.js
doc/_build/html/_static/underscore-1.3.1.js
doc/_build/html/_static/underscore.js
doc/_build/html/implementation/homology.html
doc/_build/html/implementation/simplicialcomplex.html
doc/_build/html/tutorial/analysis.html
doc/_build/html/tutorial/build-complex.html
doc/_build/html/tutorial/filtrations.html
doc/_build/html/tutorial/navigating-complex.html
doc/_build/html/tutorial/simplex-attributes.html
venv3/pyvenv.cfg
venv3/requirements.txt
venv3/bin/activate
venv3/bin/activate.csh
venv3/bin/activate.fish
venv3/bin/chardetect
venv3/bin/coverage
venv3/bin/coverage-3.7
venv3/bin/coverage3
venv3/bin/doc8
venv3/bin/easy_install
venv3/bin/easy_install-3.7
venv3/bin/epylint
venv3/bin/f2py
venv3/bin/f2py3
venv3/bin/f2py3.7
venv3/bin/isort
venv3/bin/livereload
venv3/bin/nosetests
venv3/bin/nosetests-3.4
venv3/bin/pbr
venv3/bin/pip
venv3/bin/pip3
venv3/bin/pip3.7
venv3/bin/pkginfo
venv3/bin/port-for
venv3/bin/pybabel
venv3/bin/pygmentize
venv3/bin/pylint
venv3/bin/pyreverse
venv3/bin/python
venv3/bin/python3
venv3/bin/restructuredtext-lint
venv3/bin/rst-lint
venv3/bin/rst2html.py
venv3/bin/rst2html4.py
venv3/bin/rst2html5.py
venv3/bin/rst2latex.py
venv3/bin/rst2man.py
venv3/bin/rst2odt_prepstyles.py
venv3/bin/rst2odt.py
venv3/bin/rst2pseudoxml.py
venv3/bin/rst2s5.py
venv3/bin/rst2xetex.py
venv3/bin/rst2xml.py
venv3/bin/rstpep2html.py
venv3/bin/sphinx-apidoc
venv3/bin/sphinx-autobuild
venv3/bin/sphinx-autogen
venv3/bin/sphinx-build
venv3/bin/sphinx-quickstart
venv3/bin/symilar
venv3/bin/tox
venv3/bin/tox-quickstart
venv3/bin/tqdm
venv3/bin/twine
venv3/bin/virtualenv
venv3/bin/watchmedo
venv3/man/man1/nosetests.1
