alabaster==0.7.10
Babel==2.5.1
certifi==2017.7.27.1
chardet==3.0.4
cycler==0.10.0
docutils==0.14
idna==2.6
imagesize==0.7.1
Jinja2==2.9.6
MarkupSafe==1.0
matplotlib==2.0.2
numpy==1.13.3
pkginfo==1.4.1
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.4
sphinxcontrib-websupport==1.0.1
tqdm==4.18.0
twine==1.9.1
typing==3.6.2
urllib3==1.22
